.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profileRight {
  flex: 5;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100px;
  border: 3px solid white;
}

.profileUserImg:hover {
  opacity: 0.8;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.profileRightBottomWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profileRightBottomTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.editProfileButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editProfileButton:hover {
  background-color: #45a049;
}

.scrollToBottomButton {
  margin-top: 10px !important;
  padding: 12px 16px !important;
  background-color: #00bfff !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

@media (max-width: 800px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .profileCover {
    height: 200px;
  }

  .profileCoverImg {
    height: 310px;
    object-fit: cover;
  }

  .profileUserImg {
    width: 150px;
    height: 150px;
    top: 90px;
  }

  .profileInfo {
    margin-top: 150px; /* Adjust margin to position text properly */
    align-items: center; /* Keep text centered */
    width: 100%; /* Ensure the info section takes full width */
  }

  .profileInfoName {
    font-size: 20px;
    text-align: center;
  }

  .profileInfoDesc {
    font-size: 14px;
    text-align: center;
  }

  .profileRight {
    flex: 1;
    width: 100%;
  }

  .profileRightBottom {
    flex-direction: column;
    width: 100%;
  }

  .profileRightBottomWrapper {
    padding: 15px;
  }

  .profileRightBottomTitle {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
